@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header
{
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/background2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo
{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 8%;

}

.nav-links
{
    text-align: right;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-links ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-links ul li a:hover
{
    color: rgb(255, 238, 0);
    transition: all 0.3s ease 0s;
}

.left-sidebar
{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
}
.left-col
{
    flex-basis: 40%;
}


.row
{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}



.right-col
{
    flex-basis: 55%;
}

.left-col img
{
    width: 80%;
    cursor: pointer;
    display: block;
    border-radius: 8px;   
    transition: filter 1s;
    transition: transform 0.5s;
}

.left-col img:hover
{
    
    transform: translateY(-8px);
}


.right-col h1{
    font-size: 55px;
    font-weight: 600;
}

.right-col p{
    color: #777;
    margin: 20px 0 70px;
}

.social-icon 
{
    display: flex;
    margin-top: 30px;
}

.social-icon .icon
{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.5s;
}

.icon img
{
    width: 28px;
}

.icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fcd10f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: transform 0.5s;
}

.icon a:hover
{
    opacity: 1;
}

.icon:hover
{
    transform: translateY(-5px);
}

span {
    color: #fcd10f;
}